/* Opmaak van de body tag */
body{
font-family: verdana,arial,helvetica,sans-serif;
font-size: large;
padding    : 0;
margin     : 0;
background : black;
color    : white;
}
/* Opmaak van Kop 1 */
h1{
font-family: verdana,arial,helvetica,sans-serif;
font-size: larger;
padding-bottom    : 10px;
margin     : 0;
background : #000000;
}
/* Opmaak van Kop 2 */
h2{
font-family: verdana,arial,helvetica,sans-serif;
font-size: large;
padding    : 0;
margin     : 0;
background : #000000;
}
/* Opmaak van de hoofdinhoud */
#maincontent{
background: black;
width: 800px;
margin: 50px;
margin-left: auto;
margin-right: auto;
border-right: 0px solid #FFFFFF;
border-left : 0px solid #FFFFFF;
border-bottom : 0px solid #FFFFFF;
}
#maincontent a{
color: white;
text-decoration: none;
}
#maincontent li a{
color: white;
text-decoration: none;
}
#maincontent li a:hover{
color:red;
}
/* Opmaak van de header*/
#header{
width: 800px;
margin-left   : auto;
margin-right  : auto;
padding-left :0px;
padding-right :0px;
padding-top       : 50px;
padding-bottom    : 50px;
border        : 0px dashed black;
height        : 150px;
}
#header img{
padding      : 0px;
float        : right;
}
#header ul{
float           : left;
margin          : 0px 0px 0px 0px;
padding         : 32.5px 0px 32.5px 0px;
list-style-type : none;
border          : 0px dashed black;
}
#header ul li{
margin          : 0;
padding         : 5px;
}
    #header ul li a {
        text-decoration: none;
        color: blue;
        font-size: x-large;
    }
#header ul li a:hover{
color         :red;
}
#footer{
font-size: small;
width: 800px;
margin-left   : auto;
margin-right  : auto;
padding-left :0px;
padding-right :0px;
padding-top       : 10px;
padding-bottom    : 0px;
height        : 50px;
border-top          : 1px solid #FFFFFF;
}
/* Opmaak van het menu*/
#menu{
width: 800px;
margin-left: auto;
margin-right: auto;
border-bottom : 1px solid #FFFFFF;
padding-bottom: 4px;
}
#menu ul{
list-style    : none;
padding       : 0px;
margin        : 0px;
}
#menu li{
margin-top       :0.5em;
display: inline;
}
#menu li a{
padding          : 4px 20px;
display          : inline;
color            : white;
text-decoration  : none;
border           : 1px solid #FFFFFF;
}
#menu li a:hover{
color:           black;
background-color : white;
border-bottom    : 1px solid black;
}
#menu li a.selected{
color:           black;
background-color : white;
border-bottom    : 1px solid black;
}
/*Opmaak van bibliografie*/
#biblio{
width: 800px;
margin-left: auto;
margin-right: auto;
color: #999999;
margin-top: 10px;
margin-bottom: 10px;
}
#biblio ul{
list-style    : none;
padding       : 10px;
margin        : 0px;
}
#biblio li a{
color: white;
text-decoration: none;
}
#biblio li a:hover{
color:red;
}
#biblio li.author_date{
font-size: small;
}
#biblio li.journal{
font-size: small;
font-style: italic;
}
#biblio .myname{
color:white;
font-size: small;
font-style: bold;
}
#biblio li.title{
color:white;
}
/*Opmaak van resume list*/
#resume{
width: 800px;
margin-left: auto;
margin-right: auto;
color: #FFFFFF;
margin-top: 10px;
margin-bottom: 10px;
}
#resume dl dt{
font-weight: bold;
color:#999999;
padding: 5px 5px;
font-size:small;
}
#abstract{
font-size: small;
color: white;
text-decoration: none;
}
